/* */
ul{
	color: white;
	margin-bottomn: 100px;

}
.bg-md{
	background-color: #2d2735;
}
.espacio{
	margin-bottom: 10%;
}
.espacio-1{
	padding-left: 3%;
}
.fondo-1{
	background-image: url("../img/header-image.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.negro{
	background-color: black;
	margin: 10%;
	padding: 10%;
}
.tit{
	font-size: 570%;
	color: #ff9900;
	font-style: italic;
}

.bg-negro{
background-color:#000; 
}

.logo{
	width: 30%;
	height: 1%;
	margin-bottom:1%; 
}
.buscador{
	padding: 50px;
	width: 100%;
}
.img-2{
	width: 20px;
	height: 10px;
}

@media screen and (max-width : 920px) {

}

@media screen and (max-width: 600px) {

}